body {
    background: darkgrey;
    font-family: sans-serif;
}

nav {
    text-align: center;
}

img {
    width: 95%;
    height: auto;
    padding: 15px;
}

h1,
h2 {
    color: black;
    font-weight: 800;
    text-align: center;
}

.container {
    width: 960px;
    min-height: 600px;
    background: white;
    margin: 20px auto;
    border-radius: 5px;
}

.header {
    height: 120px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 5px;
}

.nav {
    height: 40px;
    width: 100%;
    background-color: mediumseagreen;
    border-radius: 10px;
}

.main {
    width: 100%;
    min-height: 410px;
    background-color: mediumorchid;
    border-radius: 5px;
}

.text {
    columns: 220px 2;
    padding: 25px;
    font-size: 1.2em;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: dodgerblue;
    border-radius: 5px;
}